.menu-spacer {
    width: 100%;
    height: 150px;
}

.horizontal-scroll-food-menu {
    width: 100%;
    height: 45px;
    margin-top: 95px;
    background-color: var(--matte-black) !important;
    border-bottom: 1px solid var(--onyx);
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    z-index: 3;
}

.horizontal-scroll-food-menu a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.food-menu-active,
.horizontal-scroll-food-menu a:hover {
    background-color: #777;
    color: white;
    text-shadow: 1px 1px 1px var(--matte-black);
    transition: all 0.25s ease-in-out;
}

.food-menu {
    position: relative;
    z-index: 1;
}

.back-to-top-btn {
    position: fixed;
    top: 50%;
    left: 0%;
    z-index: 3;
    background-color: var(--yellow-orange-color-wheel);
    border: 2px outset var(--onyx);
    border-radius: 50%;
    opacity: 0.75;
    cursor: pointer;
}

.back-to-top-btn:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .back-to-top-btn {
        top: 80%;
        left: 80%;
    }
}