{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid allauth-bg">
    <div class="row my-4">
        <div class="col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 allauth-container pt-3">
                <h1 class="text-center">{% trans "Change Password" %}</h1>
                <hr/>
                <p class="text-center">{% trans "Your password is now changed." %}</p>
                <a href="{% url "account_login" %}"
                   aria-label="Click here to sign in"
                   class="btn btn-outline-primary w-100"
                   role="button">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}
