{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid allauth-bg">
    <div class="row my-4">
        <div class="col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 allauth-container pt-3">
                <h1 class="text-center">{% trans "Change Password" %}</h1>
                <hr/>
                <form method="post"
                      action="{% url "account_change_password" %}"
                      class="password_change allauth-form-inner-content">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" name="action" class="btn btn-outline-warning">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}"
                       class="btn btn-outline-info text-uppercase my-2">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
