{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid min-vh-100">
    <div class="row mt-5 allauth-container-wrapper">
        <div class="col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 allauth-container pt-3 mt-5">
                <h1 class="text-center">{% trans "Password Reset" %}</h1>
                <hr/>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-center">
                    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>
                <form method="post"
                      action="{% url "account_reset_password" %}"
                      class="password_reset allauth-form-inner-content">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit"
                           value="{% trans "Reset My Password" %}"
                           class="btn w-100 btn-outline-danger text-uppercase my-2"/>
                </form>
                <p class="text-center">
                    {% blocktrans %}Please <a class="text-info" href="#" aria-label="Go to contact page">contact us</a> if you have any trouble resetting your
                    password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
