{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid min-vh-100">
    <div class="row mt-5 allauth-container-wrapper">
        <div class="col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 allauth-container pt-3 mt-5">
                <h1 class="text-center">{% trans "Set Password" %}</h1>
                <form method="post"
                      action="{% url "account_set_password" %}"
                      class="password_set allauth-form-inner-content">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit"
                           name="action"
                           value="{% trans "Set Password" %}"
                           class="btn btn-danger w-100 text-uppercase my-2"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
