{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid my-5">
    <div class="row my-4">
        <div class="col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 allauth-container pt-3 my-5">
                <h1 class="text-center">{% trans "Verify Your E-mail Address" %}</h1>
                <hr/>
                <p class="text-center">
                    {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
