{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
<a title="{{provider.name}}" role="button" class="btn socialaccount_provider" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     {% if provider.name == 'Google' %}
      <i class="fa-brands fa-google"></i>
     {% elif provider.name == 'Facebook' %}
     <i class="fa-brands fa-facebook"></i>
     {% elif provider.name == 'Instagram' %}
     <i class="fa-brands fa-instagram"></i>
     {% elif provider.name == 'Twitter' %}
     <i class="fa-brands fa-twitter"></i>
     {% endif %}
     </a>
{% endfor %}
