{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Cart{% endblock head_title %}
{% block content %}
<div class="container mt-5 bg-light">
    <div class="row mt-5">
        <div class="col mt-5">
            <h2 class="w-100 text-center mb-4">Cart</h2>
            <hr>
        </div>
    </div>
    <div class="container row bg-light">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Menu Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for food in cart_items %}
                    <tr class="border">
                        <td class="p-3 w-25">
                            <a href="{% url 'item_details' food.menu_item.name food.menu_item.id %}">
                                <img class="img-fluid rounded" src="{{ food.menu_item.image.url }}"
                                    style="max-height: 100px;">
                            </a>
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ food.menu_item.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ food.menu_item.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-orange text-white rounded-0"
                                                data-item_id="{{ food.menu_item_id }}"
                                                id="decrement-qty_{{ food.menu_item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ food.quantity }}" min="1" max="20"
                                            data-item_id="{{ food.menu_item_id }}"
                                            id="id_qty_{{ food.menu_item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-orange text-white rounded-0"
                                                data-item_id="{{ food.menu_item_id }}"
                                                id="increment-qty_{{ food.menu_item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if food.menu_item.has_portions %}
                                        <input type="hidden" name="portion_size"
                                            value="{{ food.menu_item.portion_size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ food.menu_item_id }}"
                                data-size="{{ food.portion_size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ food.menu_item.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery_cost|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'menu' %}" class="btn btn-outline-dark rounded btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-orange text-white rounded mt-xs-2 mt-md-0 btn-lg border">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'menu' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'menu/js/quantity-input.js' %}"></script>
<script src="{% static 'cart/js/update-cart.js' %}"></script>
{% endblock extra_js %}