{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">{% endblock extra_css %}
{% block head_title %}About{% endblock head_title %}
{% block content %}
<div class="about">
    <div class="container-fluid about-top-bg">
        <div class="row about-bg-1">
            <div class="col-12 text-center mt-5">
                <h1 class="headings">Discover Asian Cousine</h1>
                <h2 class="">About us</h2>
            </div>
            <div class="col-xs-12 col-md-8">

            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-1">
                <h1 class="headings">finechop</h1>
                <h2 class="">Our philosophy </h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
