{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="home-landing position-relative">
    <div class="home-overlay"></div>
    <div class="home-small"></div>
    <div class="home-img-container">
    <img src="{% static 'img/home-page/home-2.webp' %}" alt="">
    <img src="{% static 'img/home-page/home-2.webp' %}" class="d-none" alt="">
    <img src="{% static 'img/home-page/home-3.webp' %}" class="d-none" alt="">
    <img src="{% static 'img/home-page/home-1.webp' %}" class="d-none" alt="">
    </div>
</div>
{% endblock %}