:root {
    --rose-ebony: #63474dff;
    --rebecca-purple: #73409dff;
    --new-york-pink: #e09186ff;
    --mellow-apricot: #ffbf7dff;
    --yellow-orange-color-wheel: #fe9b29ff;
    --madder-lake: #c1403aff;
    --onyx: #353935;
    --matte-black: #28282B;
}

html,
body {
    max-width: 100%;
    overflow: visible;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

/*----------------------------------------------------------- Nav */

header {
    border-top: 4px outset var(--new-york-pink);
}

.navbar-brand {
    height: 100px;
    width: 300px;
    background: url('/static/img/design/brand-logo.webp') no-repeat center center;
    background-size: contain;
}

div.navbar-collapse {
    justify-content: right;
}

.navbar-nav .nav-link a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 1px 1px 1px var(--matte-black);
    text-transform: uppercase;
}

.nav-link {
    color: var(--yellow-orange-color-wheel);
}

/* ham menu */
.navbar-toggler {
    width: 65px;
    height: 65px;
    border: 2px outset var(--new-york-pink);
    border-radius: 8px;
    position: relative;
}

.ham {
    width: 65px;
    height: 65px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}


/* end ham menu */


/* -------------------------------------------------------Home */


.home-landing,
.home-overlay {
    height: 100vh;
    width: 100%;
}

.home-landing {
    position: relative;
    overflow: clip !important;
}

.home-overlay {
    position: absolute;
    background-color: var(--onyx);
    opacity: 0.5;
}

.home-img-container img {
    width: 100%;
}

/* -------------------------------------------------------Footer */

footer {
    background-color: var(--matte-black);
    color: white;
    border-top: 3px inset var(--madder-lake);
}

.footer-logo {
    width: 350px;
}
footer ul {
    list-style-type: none;
}

footer .footer-links ul li {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;

    position: relative;

    cursor: pointer;
}

footer a,
.footer-links a {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.footer-links a i {
    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer ul li a:hover,
footer .footer-links ul li:hover,
footer .footer-links ul li:hover a {
    color: var(--new-york-pink);
    border-color: var(--new-york-pink);
    transition: all 0.2s ease-in-out;
}

footer h4 {
    text-indent: 20px;
    color: var(--mellow-apricot);
}

input.subscription {
    height: 35px;
    border-radius: 8px;
    border: 2px inset white;
    background-color: var(--matte-black);
    color: white;
}

input.subscription::placeholder {
    color: var(--yellow-orange-color-wheel);
}

input.subscription ~ button {
    color: black !important;
    background-color: var(--yellow-orange-color-wheel);
    height: 35px;
    border-radius: 8px;
    border: 2px outset var(--yellow-orange-color-wheel);
}

input.subscription~button:active {
    margin-top: 10px !important;
    color: var(--yellow-orange-color-wheel) !important;
    background-color: black;
    border: 2px inset var(--yellow-orange-color-wheel);
    transition: all 0.2s ease-in-out
}

.copyright:hover {
    color: var(--new-york-pink);
    cursor: pointer;
}

/* -------------------------------------------------------Media Queries */
@media only screen and (max-width: 575px){

    .footer-logo,
    footer p,
    input.subscription,
    input.subscription~button {
        min-width: 100%;
    }

    ul.social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 412px) {
    .navbar-brand {
        width: 250px;
    }
}

@media only screen and (max-width: 363px) {
    .navbar-brand {
        width: 200px;
    }
}