:root {
    --rose-ebony: #63474dff;
    --rebecca-purple: #73409dff;
    --new-york-pink: #e09186ff;
    --mellow-apricot: #ffbf7dff;
    --yellow-orange-color-wheel: #fe9b29ff;
    --madder-lake: #c1403aff;
    --onyx: #353935;
    --matte-black: #28282B;
}

html,
body {
    max-width: 100%;
    overflow: visible;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: var(--matte-black);
}

a {
    cursor: pointer;
}

/*----------------------------------------------------------- Nav */

header {
    border-top: 4px outset var(--new-york-pink);
}

.nav-wrapper {
    padding-top: 10px;
}

nav {
    max-width: 1500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nav-bg {
    background-color: var(--matte-black);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
}

.navbar-brand {
    height: 70px;
    width: 300px;
    background: url('/static/img/design/logo-no-background.svg') no-repeat center center;
    background-size: contain;
}

.navbar-nav .nav-link a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 1px var(--matte-black);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-social li {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 50%;

    position: relative;
}

.nav-social li a {
    padding: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-nav .nav-link a:hover,
.nav-social li a:hover,
.nav-social li:hover,
.nav-social li:hover a {
    color: var(--yellow-orange-color-wheel);
    border-color: var(--yellow-orange-color-wheel);
    transition: all 0.2s ease-in-out;
}

.tooltip-inner {
    background-color: var(--new-york-pink);
    margin-top: 10px;
    text-shadow: 1px 1px 1px var(--matte-black);
}

.dropdown-menu {
    background-color: whitesmoke;
    border-radius: 8px;
}

.dropdown-menu li a {
    color: black !important;
    text-transform: lowercase !important;
    text-transform: capitalize !important;
    text-shadow: none !important;
}

.dropdown-menu li:hover a {
    background-color: var(--mellow-apricot);
}

.bg-orange {
    text-align: center;
    background-color: var(--yellow-orange-color-wheel);
    cursor: pointer;
}

/* ham menu */
.navbar-toggler {
    width: 45px;
    height: 45px;
    border: 1px outset var(--yellow-orange-color-wheel);
    position: relative;
    margin-right: 10px;
}

.ham {
    width: 45px;
    height: 45px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--new-york-pink);
    stroke-width: 5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}


/* end ham menu */


/* -------------------------------------------------------Home */


.home-landing-lg,
.home-overlay {
    height: 100vh;
    width: 100%;
}

.home-landing-lg {
    position: relative;
    overflow: clip !important;
}

.home-overlay {
    position: absolute;
    background-color: var(--onyx);
    opacity: 0.5;
}

.home-img {
    width: 100%;
    height: 100%;
    background: url('../img/home-page/home-2.webp') no-repeat center center;
    background-size: cover;
}

/* -------------------------------------------------------Footer */

footer {
    background-color: var(--matte-black);
    color: white;
    border-top: 3px inset var(--madder-lake);
}

.footer-logo {
    width: 350px;
}
footer ul {
    list-style-type: none;
}

footer .footer-links ul li {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;

    position: relative;

    cursor: pointer;
}

footer a,
.footer-links a {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.footer-links a i {
    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer ul li a:hover,
footer .footer-links ul li:hover,
footer .footer-links ul li:hover a {
    color: var(--new-york-pink);
    border-color: var(--new-york-pink);
    transition: all 0.2s ease-in-out;
}

footer h4 {
    text-indent: 18px;
    color: var(--mellow-apricot);
}

.copyright:hover {
    color: var(--new-york-pink);
    cursor: pointer;
}

/* -------------------------------------------------------Extras */

/* ----------- Headings */
h1 {
    color: var(--mellow-apricot)
}

/* ------------ Forms */

/* Allauth */

.allauth-container-wrapper {
    position: relative;
    top: 10vh;
}

.allauth-container {
    color: white;
    background-color: var(--matte-black);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 2px outset var(--mellow-apricot);
}

.allauth-container hr {
    color: white;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none; /* Removes labels from allauth forms */
}

.allauth-form-inner-content input {
    background-color: var(--mellow-apricot);
    /* Removes labels from allauth forms */
}

/* -------------------------------------------------------Media Queries */
@media only screen and (max-width: 991px) {
    .navbar .nav-link {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 575px){

    .footer-logo,
    footer p,
    input.subscription,
    input.subscription~button {
        min-width: 100%;
    }

    ul.social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 412px) {
    .navbar-brand {
        width: 250px;
    }
    .footer-logo {
        width: 250px;
    }
}

@media only screen and (max-width: 363px) {
    .navbar-brand {
        width: 200px;
    }
}