<div class="fixed-bottom mobile-nav-container d-lg-none">
    <form class="m-4 d-flex small-search d-none" method="GET" action="{% url 'menu' %}">
        {% csrf_token %}
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
                placeholder="Search our site">
        </div>
    </form>
    <ul class="mobile-nav-view p-0 mx-3">
        <li class="text-center"><a href="{% url 'home' %}" aria-label="Click here to go to the home page"><i
                    class="fa-solid fa-house"></i></a>
        </li>
        <li class="text-center"><a role="button" aria-label="click here to open a small search bar"
                onclick="openSmallSearchBar()"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li class="trolley-container d-flex justify-content-center">
            <a class="trolley-btn" href="{% url 'view_cart' %}" id="trolley-btn" aria-label="Click to open your cart of goods"><i class="fa-solid fa-cart-shopping"></i></a>
            <p class="position-absolute top-100">
                {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
                {% endif %}
            </p>
        </li>
        <li class="text-center"><a href="{% url 'menu' %}" aria-label="Click to open up the menu page"><i
                    class="fa-solid fa-map"></i></a>
        </li>
        <li class="text-center"><a role="button" aria-label="Click to open user settings" data-bs-toggle="modal"
                data-bs-target="#settings"><i class="fa-solid fa-user"></i></a>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="settings" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">User Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group mt-2" aria-labelledby="login-dropdown">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'add_menu_item' %}"
                            aria-label="click here to add menu items">Add Menu Item</a>
                    {% endif %}
                        <a class="btn btn-outline-dark rounded-0 my-1" href="{% url 'profile' %}"
                            aria-label="click here to view your profile">profile</a>
                        <a class="btn btn-outline-dark rounded-0 mb-1" href="{% url 'account_logout' %}"
                            aria-label="click here to sign out of FineChop">Sign
                            Out</a>
                    {% else %}
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'account_login' %}"
                            aria-label="click here to login into FineChop">Sign
                            In</a>
                    {% endif %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange text-white rounded-0 border" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>