<div class="fixed-bottom mobile-nav-container d-lg-none">
    <form class="m-4 d-flex small-search d-none" method="GET" action="{% url 'menu' %}">
        {% csrf_token %}
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
                placeholder="Search our site">
        </div>
    </form>
    <ul class="mobile-nav-view p-0 mx-3">
        <li class="text-center"><a href="{% url 'home' %}" aria-label="Click here to go to the home page"><i
                    class="fa-solid fa-house"></i></a>
        </li>
        <li class="text-center"><a role="button" aria-label="click here to open search bar"
                onclick="openSmallSearchBar()"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li class="trolley-container">
            <a class="trolley-btn" role="button" id="trolley-btn"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="text-center"><a href=""><i class="fa-solid fa-map"></i></a>
        </li>
        <li class="text-center"><a href=""><i class="fa-solid fa-user"></i></a>
        </li>
    </ul>
</div>