{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">{% endblock extra_css %}
{% block head_title %}Menu{% endblock head_title %}
{% block content %}
<div class="menu-spacer">
    {% comment %} provides spacing for the fixed food menu and containers {% endcomment%}
</div>
{% include 'menu/includes/food-menu.html' %}

<div class="container mt-3" id="food-menu">
    <div class="row">
        <!--TODO: for loop for menu items of specific type-->
        <div class="col-sm-12 col-md-4">
            <div class="my-1 d-flex flex-wrap flex-row food-item border rounded p-1 bg-light border position-relative">
                <div>
                    <p class="w-100 text-center m-0"><strong class="fs-4 text-black mx-2">Food Item Name</strong></p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the</p>
                <div class="w-100 d-flex flex-row nowrap justify-content-end position-relative">
                    <div class="position-absolute start-0 text-info d-flex flex-column">
                        <span>From</span>
                        <span><strong class="text-light text-black mx-auto">€ 10.55</strong></span>
                    </div>
                    <!--TODO: if amount greater than 0 for food item then display amount and minus button-->
                    <a href="" type="button" class="btn remove-from-trolley mx-1 btn-danger"><i class="fa-solid fa-minus"></i></a>
                    <p class="mx-3 fs-4">0</p>
                    <!--TODO: if amount greater than 0 for food item then display amount and minus button-->
                    <a href="" type="button" class="btn add-to-trolley btn-success mx-1" data-bs-toggle="modal"
                        data-bs-target="#add-to-Trolly"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-to-Trolly" tabindex="-1" aria-labelledby="add-to-Trolly" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-to-Trolly-food-item-title">Food Item Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                further information on food item
                portion sizes
                secondary modal launch if needed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'menu/js/food-menu.js' %}"></script>
{% endblock extra_js %}
