{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">{% endblock extra_css %}
{% block head_title %}{{is_category|title}}{% endblock head_title %}
{% block content %}
<div class="menu-spacer">
    {% comment %} provides spacing for the fixed food menu and containers {% endcomment%}
</div>
{% include 'menu/includes/food-menu.html' %}
<div class="container-fluid pt-2 food-menu">
    <div class="row">
        <div class="col text-center">
            <div class="col-12 d-flex justify-content-around">
                <p class="p-0 m-0 g-0 text-center d-flex flex-column justify-content-center">
                    {% if is_category %}
                    <span class="small"><a href="{% url 'menu' %}" class="text-info fs-5">Menu -
                            {{is_category|title}}</a> |
                    </span>
                    {% endif %}
                    <span>
                    {{ menu_items|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}</span>
                </p>
                <div class="dropdown">
                    <button class="btn text-info dropdown-toggle" type="button" id="sorting-dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu bg-white" aria-labelledby="sorting-dropdown">
                        <li><a href="{% url 'menu' %}?sort=price&direction=asc" class="dropdown-item"
                                aria-label="Sort food items by price low to high">Price (low to high)</a></li>
                        <li><a href="{% url 'menu' %}?sort=price&direction=desc" class="dropdown-item"
                                aria-label="Sort food items by price high to low">price (high to low)</a></li>
                        <li><a href="{% url 'menu' %}?sort=rating&direction=asc" class="dropdown-item"
                                aria-label="Sort food items by rating low to high">Rating (low to high)</a></li>
                        <li><a href="{% url 'menu' %}?sort=rating&direction=desc" class="dropdown-item"
                                aria-label="Sort food items by rating high to low">Rating (high to low)</a></li>
                        <li><a href="{% url 'menu' %}?sort=name&direction=asc" class="dropdown-item"
                                aria-label="Sort food items by name from A to Z">Name (A-Z)</a></li>
                        <li><a href="{% url 'menu' %}?sort=name&direction=desc" class="dropdown-item"
                                aria-label="Sort food items by name from Z to A">Name (Z-A)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for food in menu_items %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-container">
                    <div class="card h-100 border-0 overflow-hidden" style="max-height: 400px;">
                        {% if food.image %}
                        <a href="{% url 'item_details' food.name food.id %}">
                            <img class="card-img-top img-fluid" src="{{ food.image.url }}" alt="{{ food.name }}" style="max-height:250px;">
                        </a>
                        {% elif food.image == '' %}
                        <a href="{% url 'item_details' food.name food.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ food.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 overflow-hidden">
                            
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0">{{ food.name }}</p>
                                    <p class="lead fs-4 mb-0 text-left font-weight-bold">€{{ food.price }}</p>
                                    {% if food.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'menu' %}?category={{ food.category.name }}">
                                            <i class="fa-solid fa-utensils mr-1"></i> {{ food.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if food.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ food.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-3">
                    <hr class="w-100 mb-1 text-white">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3">
                    <hr class="w-100 mb-1 text-white">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                    <hr class="w-100 mb-1 text-white">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-3">
                    <hr class="w-100 mb-1 text-white">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="back-to-top-btn border-black p-md-4 mx-md-5">
    <a class="btn d-flex h-100 ">
        <i class="fas fa-arrow-up my-auto fs-3"></i>
    </a>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'menu/js/food-menu.js' %}"></script>
{% endblock extra_js %}