<div class="row">
    <div class="col">
        {{ message }}
        <hr class="mt-1 mb-3">
    </div>
</div>
{% if grand_total %}
<p class="py-1">Your Cart ({{ item_count }})</p>
<div class="cart-message-wrapper">
    {% for food in cart_items %}
    <div class="row">
        <div class="col-3 my-1">
            <img class="w-100" src="{{ food.menu_item.image.url }}">
        </div>
        <div class="col-9">
            <p class="my-0"><strong>{{ food.menu_item.name }}</strong></p>
            <p class="my-0 small">Size:
                {% if food.menu_item.portion_sizes %}{{ food.portion_size|upper }}{% else %}N/A{% endif %}</p>
            <p class="my-0 small">Qty: {{ food.quantity }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col">
        <a href="{% url 'view_cart' %}" class="btn btn-orange btn-block text-white rounded-0">
            <span class="text-uppercase">Go To Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>
{% endif %}
